<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,600" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/index.css'>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<title>FairyTale Chasers</title>
</head>
<body>
	<nav>
		<div id='logo-container'>
			<a class='active' href='/'>Fairytale Chasers</a>
		</div>
		<div id='pages-container'>
			<a href="">Adventure</a>
			<a href="">Personal</a>
			<a href="">Blog</a>
			<a href="">About</a>
		</div>
	</nav>


